.d-block-hero{
	// background: no-repeat 50% scroll;
	object-fit:  cover;
	height: 100vh;
  min-height: 300px;
}
.carousel-item {
  height: 100vh;
  background-size: cover;
}

.carousel-indicators{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 10%;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  }

.carousel-indicators li{
  text-indent:0;
  width: 100%;
  // margin-right: 100px;
  height: 40px;
  border:none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel-indicator-span{
  color: #BE1E2D;
  font-size: 20px;
}
.carousel-indicators .active{
  background-color: transparent;
  border-bottom: 2px solid #BE1E2D;
}
.carousel-indicators .active .carousel-indicator-span{
  color: #000000;
}
.hero-home {
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}


.hero-home-ul{
  position: absolute;
  top: 30%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  height: 250px;
  list-style-type: none;
  // border: 1px solid blue;
  margin-bottom: 50px;
}

.hero-home-li{
  align-content: flex-start;
  color: #000000;
  text-align: left;
}
.hero-home-li:first-child{
  font-size: 30px;
}
.carousel-caption{
  top: 5%;
  left: 5%;
  width: 90%;
}
.section-hero-btn{
  background-color: #BE1E2D;
  color: #ffffff;
  padding: .2rem 4rem;
  border: 0;
  cursor: pointer;
  transition: ease-in-out .5s;
}
.section-hero-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.left50{
  left: 40%;
}
.border-blue{
  border: 1px solid blue;
}