
//#f5f7fa
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
   
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
// span {
//   border-right: .8rem  solid orange;
//   animation: caret 1s steps(1) infinite;
// }

// @keyframes caret {
//   50% {
//     border-color: transparent;
//   }
// }
.cont{
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
  .cont > .type-h1{
    font-size: 6vw;
    text-align: center;
    // width: 70%;
    color: #BE1E2D;
    transition: 2s ease-in-out;
    font-weight: bolder;
    text-align: center;
  }
.displayOff {
  display: none;
  opacity: 0;
}
.displayOn{
  display: flex;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 3s;	
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;	
  -webkit-animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
     
    opacity: 0.0;		
  }
    
  100% {
    
    opacity: 1;	
  }		
}
.border-blu{
  border: 1px solid #BE1E2D;
}
.back-letter{
  
  position: absolute;
 
  font-size: 600px;
  text-align: center;
  z-index: -1;
  color: #e5e6e7;
  font-weight: bolder; 
  font-family: Futura;
  background-color: #e5e6e7;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}
.back-icon{
  position: absolute;
  z-index: -1;
  width: 80%;
  // height: 400px;
}
.wrap-img-text{
  // position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.img-wrap{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: relative;
  width: 80%;
  height: 100%;
  margin: 0;
}
.img-item-a{
  width: 100%;
  height: auto;
}
.txt-i{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
   height: 50%;
  // padding-top: 20px;
  // padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.d-block-hero{
	// background: no-repeat 50% scroll;
	object-fit:  cover;
	height: 100vh;
  min-height: 300px;
}
.carousel-item {
  height: 100vh;
  background-size: cover;
}

.carousel-indicators{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 10%;
  // -webkit-transform: rotate(-7deg);
  // -moz-transform: rotate(-7deg);
  // -ms-transform: rotate(-7deg);
}

.carousel-indicators li{
  text-indent:0;
  width: 100%;
  // margin-right: 100px;
  height: 40px;
  border:none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel-indicator-span{
  color: #BE1E2D;
  font-size: 20px;
}
.carousel-control-next{
  width: 5%;
}
.carousel-control-prev{
  width: 5%;
}
.prev-arrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // border-radius: 100%;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100px;
  height: 100px;
}
.carousel-indicators .active{
  background-color: transparent;
  border-bottom: 2px solid #BE1E2D;
}
.carousel-indicators .active .carousel-indicator-span{
  color: #000000;
}
.hero-home {
  height: 100vh;
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  
}


.hero-home-ul{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  // width: 90%;
  height: 50%;
  list-style-type: none;
  // border: 1px solid blue;
  // margin-bottom: 50px;
  padding: 0;
}

.hero-home-li{
  align-content: flex-start;
  color: #000000;
  text-align: left;
}
.hero-home-li:first-child{
  font-size: 20px;
  font-weight: bolder;
}
.carousel-caption{
  position: relative;
  width: 40%;
  height: 50%;
}
.section-hero-btn{
  background-color: #BE1E2D;
  color: #ffffff;
  padding: .2rem 4rem;
  border: 0;
  cursor: pointer;
  transition: ease-in-out .5s;
}
.section-hero-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.left50{
  left: 40%;
}
.border-blue{
  border: 1px solid blue;
}
@media (max-width: 800px){
  .wrap-img-text{
    flex-direction: column;
    padding: 0;
  }
  .img-wrap{
    width: 250px;
    // height: 100%;
  }
  .txt-i{
    // padding-top: 3rem;
  }
  .back-icon{
    width: 350px;
    height: 350px;
  }
  .hero-home{
    height: 120vh;
  }
}




