.section-as{
 
}
.section-as-background{
  background-image: url('assets/img/backgrounds/backgroundPic01.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
strong{
  color: #EC1C24;
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 6vw;
}
.section-as-wrap-title{
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-as-title{
  color:#ffffff;
  width: 60%;
  text-align: left;
  z-index: 40;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 4vw;
  padding: 10rem 0rem 5rem 3rem;
}