.section-as{
  // position: relative;
}
.backgroundTopAs{
  // background-image: url('assets/img/backgrounds/topSectionAs.png');
  // background-position: top; 
  // background-repeat: no-repeat; 
  // background-size: cover;
  background: linear-gradient(to left, rgba(0,0,0,.4) 0%, rgba(255,255,255,1)50%);
}
.section-as-top{
padding: 2rem;
position: relative;
// background: linear-gradient(to bottom right, #ffffff 50%,rgba(0,0,0,.4) 10%);
// background: linear-gradient(175deg, rgba(255,255,255,.7) 50%, rgba(0,0,0,.7) 50%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  // background-image: url('assets/img/backgrounds/topSectionAs.png');
  // background-position: center; 
  // background-repeat: no-repeat; 
  // background-size: cover;
  background-color: rgba(0,0,0,.6)
}
.opacity-0{
  opacity: 0;
}
.overlay-as-top{
  position: absolute;
  top:0;
  left:0;
  background: linear-gradient(175deg, rgba(255,255,255,1) 50%, rgba(255,255,255,.4) 50%);
  z-index: 40;
  width: 100%;
  height: 100%;
  // padding-bottom: 10px;
}
.overlay-as{
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.7);
  z-index: 30;
  width: 100%;
  height: 100%;
  // padding-bottom: 10px;
}
.section-as-bottom{
  background-image: url('assets/img/backgrounds/backgroundPic01.png');
  // background-color: #cccccc; /* Used if the image is unavailable */
  //  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  // border: 1px solid blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12rem 0rem 12rem 5rem;
  position: relative;
}
strong{
  color: #EC1C24;
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 60px;
}
.section-as-bottom-title{
  color:#ffffff;
  width: 60%;
  text-align: left;
  z-index: 40;
}