
.backgroundWhy{
  position: relative;
  background-image: url('https://knightfoundation.imgix.net/content_block_images/images/000/000/308/original/DSP-3.jpg?fit=clip&auto=format,compress&cs=strip');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#002f4b), to(#dc4225));
    background-image: linear-gradient(to bottom right, #ffffff, #ffe9e9 );
    opacity: .9;
    z-index: -4;
  }
}

.section-why{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  // border: 1px solid blue;
  padding: 10rem 0;
  z-index: 9;;
}
.section-why-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid blue;
  // height: 100%;
}

.why-text-tech{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  & i {
    font-size: 50px;
    padding: 1rem;
  }

}

.section-why-text-item{
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  // justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100%;
  // border: 1px solid blue;

  
}
.why-text-item-h1{
  font-weight: 200;
  // padding-top: 3rem;
}
.why-text-item-p{
  // margin-top: 20px;
  font-size: 18px;
}
.hr-horizontal-sec-why{
  width: 40px;
  height: 1px;
  background-color: black;
  border: none;
}
.hr-vertical-sec-why{
  width: 1px;
  height: 20px;
  background-color: black;
  margin: 0;
}

@media (max-width: 900px){
  .why-text-item-h1{
    font-size: 5vw;
  }
}